
.idea/vcs.xml
.idea/workspace.xml
.idea/morsedream.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/morse.cpython-38.pyc
__pycache__/opencv_functions.cpython-38.pyc
__pycache__/morse.cpython-38.pyc
__pycache__/opencv_functions.cpython-38.pyc
